**/node_modules/
**/.next/
.DS_Store
.env
.env.local
.env.*
# Keep ref-parser/dist for package distribution
/ref-parser/.next/
out/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
